body {
  background-color: rgb(226, 226, 226) !important;
}
.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.movie-image {
  padding: 10px,10px,10px;
}

.movie-details-container{
  padding-top: 20px;
}
.btn-movie-detail-action{
  margin-right: 16px;
}

.review-container{
  padding:16px 16px 16px 0;
}
.review-item-user{

  font-weight: bold;
  
}
.review-form{

  margin-top: 20px;
}
.links-container{
  padding:8px;
}

.links-item{
  padding: 0 ;
}

.genre-container {
  margin: 8px 8px 8px 0px;
}
.genre-item {
  margin-right: 8px;
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 10px;
}

.filter-section {
  background-color: white;
  padding: 8px;
  margin-right: 24px;
  max-height: 400px;
}

.filter-section h3{
  padding: 8px;
}