body {
  background-color: rgb(226, 226, 226) !important;
}
.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.movie-image {
  padding: 10px,10px,10px;
}

.movie-details-container{
  padding-top: 20px;
}
.btn-movie-detail-action{
  margin-right: 16px;
}

.review-container{
  padding:16px 16px 16px 0;
}
.review-item-user{

  font-weight: bold;
  
}
.review-form{

  margin-top: 20px;
}
.links-container{
  padding:8px;
}

.links-item{
  padding: 0 ;
}

.genre-container {
  margin: 8px 8px 8px 0px;
}
.genre-item {
  margin-right: 8px;
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 10px;
}

.filter-section {
  background-color: white;
  margin-right: 24px;
  max-height: 400px;
}

.filter-section h3{
  text-align: center;
  background-color: black;
  padding: 0 !important;
  color: white;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.filter-link{
  padding: 8px;
  color: #444;
  text-decoration: none;
  padding-bottom: 18px;
}
.filter-link-clear{
  font-weight: bold;
  text-align: right;
  font-size: 10pt;
  padding: 8px;
  color: #444;
  text-decoration: none;
  padding-bottom: 18px;
}
.filter-section-list{
  list-style: none;
  padding-left: 0 !important;
}
.filter-selected-item{
  background-color: lightgray;
  font-weight: bold;
  width: 100%;
}