.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.movie-image {
  padding: 10px,10px,10px;
}

.movie-details-container{
  padding-top: 20px;
}
.btn-movie-detail-action{
  margin-right: 16px;
}

.review-container{
  padding:16px 16px 16px 0;
}
.review-item-user{

  font-weight: bold;
  
}


.review-form{

  margin-top: 20px;
}